*{
    margin: 0;
    padding: 0;
}
.first-section{
    width: 100%;
    height: 460px;
    display: flex;
    justify-content: center;
    
}
.half-width{
    width: 50%;
    margin: 15px;
    padding: 10px;
    align-items: flex-start;
}
.div-one{
    margin-top: 50px;
}

.div-one h1{
   font-size: 70px;
   margin-left: 25px ;
}
.div-one p {
    font-size: 25px;
    margin: 10px 30px;

}

.anchor-area{
    margin-top: 20px;
    
}
.anchor-area a{
    padding:10px;
    border-radius: 10px;
    color: rgb(233, 247, 233);
    opacity: 0.9;
    text-decoration: none;
    background-image: linear-gradient(rgb(29, 20, 3) ,rgb(22, 5, 5));
    font-size: 20px;
    font-weight: 300;
    margin: 40px 40px;       
}
.half-width img{
    margin-left: 20px;
}
.second-section{
    width: 100%;
    height: 450px;
    display: flex;
    margin-top: 100px;
    background-image: url(images/food/Vegetables.jpg);
}
.div-two{
    background :black;
    width: 60%;
    height: 250px;
    opacity: 0.6;
    padding: 12px;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    margin: 30px 40px;
}
.div-two h1{
    padding-bottom: 20px;
}
.div-two a{
    text-decoration: none;
    background: orange;

    margin-top: 15xp;

}
.third-section{
    width: 100%;
    height:600px;
    text-align: center;
    margin-top: 80px;
    font-size: 20px;
}
.third-section h1{
    color: rgb(24, 23, 23);
    padding-bottom: 30px;
}

.food{
    display: flex;
    margin-left: 15px;
    margin-top: 30px;
}
.food .food-item{
    width: 27%;
    height: 320px;
    margin-left: 40px;
    box-shadow: 5px 10px 20px grey;
    padding: 20px;
}

.food-item img{
    width: 250px;
    height: 200px;
    border-radius: 10px;
}
.four-section{
    text-align: center;
    height: 300px;
    background-image: url(images/food/Shop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:black;
    margin-top: 50px;
    padding-top: 200px;
}
.item{
    background: chartreuse;
}
.five-section{
    width: 100%;
    height: 50px;
    display: flex;
    padding: 100px 100px;
    font-size: 20px;
    font-weight: 500;
}
.five-section .followers{
   
    width: 30%;
    margin-left: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
footer{
    width: 100%;
    height: 200px;
    background: rgb(26, 22, 22);
    color: whitesmoke;
    text-align: center;
    padding-top: 80px;
}